<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inficorridor</title>
  </head>
  <body>
    <form action="/d" method="GET">
      <section class="get">
        <h3>Get Data</h3>

        <a href="/get-data">LOAD DATA</a>
        <div>
          <article class="user">
            <div>First Name: <%=first_name%></div>
            <div>Last Name: <%=last_name%></div>
            <div>Email: <%=email%></div>
            <div>Phone: <%=phone%></div>
            <div>Address: <%=address%></div>
            <div>Services: <%=services%></div>
            <div>Budget: <%=budget%></div>
            <div>Messages: <%=message%></div>
          </article>
        </div>
      </section>
    </form>
  </body>
</html>
